/* common style for overall  */
body{
    font-family: 'Poppins', sans-serif;
    
}

/* header style start */
header{
    width: 100%;
    height: 800px;
    background-image: url(image/header-zakat-logo.PNG);
    background-repeat: no-repeat;
    background-size: 100% 700px;
} 
.bgcolor{
    width: 100%;
    height: 700px;
    background-image:linear-gradient(to right, rgba(0,0,0,0.8), rgba(20,89,50,0.2));
}
h1{
    font-size: 50px;
}
p{
    font-size: large;
    color:cadetblue ;
}
.textposition{
    padding-top: 150px;
    margin-left: 200px;
}
.textbox{
    text-align: left;
    color: white;
    width: 450px;
    height: 400px;
}

.btn{
    background-color: firebrick;
    width: 150px;
    height: 50px;
    border-radius: 8px;
    color: aliceblue;
    font-size: 20px;
    border: none;
}
/* header style end */


/* main section start */

/* first page */
.firstpage{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    display: flex;
}

.half-width{
    width: 42%;
    margin: 4%;
}


.image{
    width: 90%;
    height: 480px;
    border-radius: 5px;
    border: none;
}

/* second page */

.secondpage{
    margin-left: 250px;
    margin-right: 250px;
}
.textarea{
    display: flex;
}
 .textbox1{
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 50px;
}

.card{
    width: 46%;
    margin:1%;
    height:200px;
    display:flex;
    border-radius: 10px;
    background-color:antiquewhite;
}
.card:hover{
    width: 46%;
    margin:1%;
    height:200px;
    display:flex;
    border-radius: 10px;
    background-color:blueviolet;
    box-shadow: 5px 10px slategray;
    transition-duration: 0.5s;
}
.anchor{
    text-decoration-line: none;
}

.icon{
    width: 40%;
    text-align: center;
    
    padding-top: 20px;
}
i{
    font-size:50px;
    color:red;
    padding: 25%;
}

.textbox2{
    text-align: left;
    padding: 15px;
   
}

/* thirdpage */

.thirdpage{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 120px;
   margin-bottom: 100px;
}
.imageposition{
    display: flex;
}
.imagepart{
    width: 31.33%;
    height: 400px;
    margin: 1%;
    border-radius: 10px;
}


.textbox3{
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}

.cardposition{
    display: flex;
}
.imagecard{
    width: 31.33%;
    height: 500px;
    margin: 1%;
    border: 1px solid gray;
    border-radius: 10px;
}
.img{
    height: 40%;
    width: 100%;
   
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.textbox4{
    text-align: left;
    padding: 5%;
}

.donate-btn{
    color: red;
    font-size: 20px;
    font-weight:bolder;
}

/* main section end */

/* footer section start */

footer{
    height: 150px;
    width: 100%;
    background-color: black;
    text-align: center;
}


/* footer section end */