/* common style for overall  */
body{
    font-family: 'Poppins', sans-serif;
    
}

/* header style start */
header{
    width: 100%;
    height: 800px;
    background-image: url(image/header-zakat-logo.PNG);
    background-repeat: no-repeat;
    background-size: 100% 700px;
} 
.bgcolor{
    width: 100%;
    height: 700px;
    background-image:linear-gradient(to right, rgba(0,0,0,0.8), rgba(20,89,50,0.2));
}
h1{
    font-size: 50px;
}
p{
    font-size: large;
}
.textposition{
    padding-top: 150px;
    margin-left: 200px;
}
.textbox{
    text-align: left;
    color: white;
    width: 450px;
    height: 400px;
}

.btn{
    background-color: firebrick;
    width: 150px;
    height: 50px;
    border-radius: 8px;
    color: aliceblue;
    font-size: 20px;
    border: none;
}
/* header style end */


/* main section start */

/* first page */
.firstpage{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    display: flex;
}

.half-width{
    width: 42%;
    margin: 4%;
}


.image{
    width: 90%;
    height: 500px;
    border-radius: 5px;
    border: none;
}

/* second page */

.secondpage{
    margin-left: 250px;
    margin-right: 250px;
}
.textarea{
    display: flex;
}
 .textbox1{
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 50px;
}

.card{
    width: 46%;
    margin:1%;
    height:200px;
    display:flex;
    border-radius: 10px;
    background-color:antiquewhite;
}
.icon{
    width: 40%;
    text-align: center;
    
    padding-top: 20px;
}
i{
    font-size:50px;
    color:red;
    padding: 25%;
}

.textbox2{
    text-align: left;
    padding: 15px;
   
}
/* main section end */

/* footer section start */
/* footer section end */